---
import Layout from "../../layouts/Layout.astro";
import ButtonContact from "../../components/ButtonContact.astro";

import { useTranslations } from "../../i18n/util";
import { languageList } from "../../i18n/ui";

const currentLang = Astro.currentLocale || "es";
const t = useTranslations(currentLang as keyof typeof languageList);

const {
  pageTitle = t("oportunity.pageTitle"),
  pageDescription = t("oportunity.pageDescription"),
} = Astro.props;

---

<Layout title={pageTitle} description={pageDescription}>
  <section class="max-w-6xl mx-auto px-4 sm:px-8 py-20 text-white">
    <!-- INTRODUCCIÓN -->
  <div set:html={t("membership.introduction")}></div>

    <!-- HERO -->
    <div set:html={t("membership.hero")}></div>

    <!-- BENEFICIOS -->
    <div set:html={t("membership.benefits")}></div>

    <!-- LLAMADO A LA ACCIÓN -->
    <div set:html={t("membership.callToAction")}></div>

    <!-- PAISES -->
    <div class="text-center mb-24">
      <h2 class="text-2xl sm:text-3xl font-semibold text-[#00ff7f] mb-10">
        {t("membership.titleCountry")}
      </h2>

      <div
        class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-10 justify-center"
      >
        {
          [
            {
              nombre: "Argentina",
              img: "banderaArgentina.webp",
              link: "https://www.amway.com.ar/IRENew/Reg.aspx?regCode=38081962231KW",
            },
            {
              nombre: "Brasil",
              img: "banderaBrasil.webp",
              link: "https://www.amway.com.br/pt/register/abosteptwo",
            },
            {
              nombre: "Chile",
              img: "banderaChile.webp",
              link: "https://www.amway.cl/IRENew/Reg.aspx?regCode=38081962231KW",
            },
            {
              nombre: "Colombia",
              img: "banderaColombia.webp",
              link: "https://co.ashare.me/nvkg298s",
            },
            {
              nombre: "Costa Rica",
              img: "banderaCostaRica.webp",
              link: "https://www.amway.co.cr/IRENew/Reg.aspx?regCode=38081962231KW",
            },
            {
              nombre: "El Salvador",
              img: "banderaElSalvador.webp",
              link: "https://www.amway.com.sv/IRENew/Reg.aspx?regCode=38081962231KW",
            },
            {
              nombre: "Guatemala",
              img: "banderaGuatemala.webp",
              link: "https://www.amway.com.gt/IRENew/Reg.aspx?regCode=38081962231KW",
            },
            {
              nombre: "Honduras",
              img: "banderaHonduras.webp",
              link: "https://www.amway.com.hn/IRENew/Reg.aspx?regCode=38081962231KW",
            },
            {
              nombre: "México",
              img: "banderaMexico.webp",
              link: "https://www.amway.com.mx/IRENew/Reg.aspx?regCode=38081962231KW",
            },
            {
              nombre: "Panamá",
              img: "banderaPanama.webp",
              link: "https://www.amway.com.pa/IRENew/Reg.aspx?regCode=38081962231KW",
            },
            {
              nombre: "Uruguay",
              img: "banderaUruguay.webp",
              link: "https://www.amway.com.uy/IRENew/Reg.aspx?regCode=38081962231KW",
            },
            {
              nombre: "Venezuela",
              img: "banderaVenezuela.webp",
              link: "https://www.amway.com.ve/IRENew/Reg.aspx?regCode=38081962231KW",
            },
          ].map((pais) => (
            <a
              href={pais.link}
              class="flex flex-col items-center hover:scale-105 transition"
            >
              <img
                src={`/pageImages/paisesImagenes/${pais.img}`}
                alt={pais.nombre}
                class="w-24 h-24 rounded-full shadow-md border border-white/20 object-cover"
              />
              <p class="mt-3 font-semibold">{pais.nombre}</p>
            </a>
          ))
        }
      </div>
    </div>

    <!-- DESPEDIDA -->
    <div set:html={t("membership.farewell")}></div>

    <!-- CTA FINAL -->
    <div class="mt-20">
      <ButtonContact
        title= {t("membership.buttonContact.title")}
        subtitle= {t("membership.buttonContact.subtitle")}
        buttonText= {t("membership.buttonContact.buttonText")}
        buttonLink="/pt/contacto"
      />
    </div>
  </section>
</Layout>

<script src="/scripts/accesoProtegido-v2-pt.js" defer></script>
