---
// audios.astro

import Layout from "../layouts/Layout.astro";
import ButtonContact from "../components/ButtonContact.astro";

import { useTranslations } from "../i18n/util";
import { languageList } from "../i18n/ui";

const currentLang = Astro.currentLocale || "es";
const t = useTranslations(currentLang as keyof typeof languageList);

const {
  pageTitle = t("audios.pageTitle"),
  pageDescription = t("audios.pageDescription"),
} = Astro.props;

const spotifyAudios = [
  {
    title: "Juegos de la Vida",
    description: "",
    embed:
      "https://open.spotify.com/embed/episode/5ffjDLcEyqxbL2qDfigW5f?si=L8fj7xYxQRaJbaVMAr4nUA",
  },
  {
    title: "Creemos Conciencia",
    description: "",
    embed:
      "https://open.spotify.com/embed/episode/0hjPDBvWtxrjKy8P2yWriw?si=ibH5HdMXRC6wvha5Ll9QyA",
  },
  {
    title: "Ser Empresario",
    description: "",
    embed:
      "https://open.spotify.com/embed/episode/3UUOXpvw1I7AvVhRv9nJL4?si=_uq3VjLFSDyOK8Bh2Wgs3g",
  },
  {
    title: "El Acueducto",
    description: "",
    embed:
      "https://open.spotify.com/embed/episode/6VecQGmzJJTcMrrpQ6h9FE?si=o_OkxDxhSiKA292KzovaBA",
  },
  {
    title: "El Juego de la Economía",
    description: "",
    embed:
      "https://open.spotify.com/embed/episode/2mBoQnC5cE1Lw2nuIEw91f?si=c3sp7OCpQnqAz_hY8Fks-w",
  },
  {
    title: "Cazador de Dragones",
    description: "",
    embed:
      "https://open.spotify.com/embed/episode/6pFGPaGyLCOyZWT0wQ25dx?si=J4O-xp7gRN6Xkmqbi7Virg",
  },
];
---

<Layout title={pageTitle} description={pageDescription}>
  <section class="relative max-w-6xl mx-auto px-4 sm:px-6 py-16 sm:py-20 text-white">
    <!-- Título -->
    <h1 set:html={t("audios.title")}></h1>

    <!-- Descripción -->
    <div set:html={t("audios.description")}></div>

    <!-- Grid -->
    <div class="grid gap-8 sm:gap-10 md:grid-cols-2">
      {
        spotifyAudios.map((audio) => (
          <div class="bg-white/5 backdrop-blur-md p-5 sm:p-6 rounded-2xl shadow-lg hover:scale-[1.02] transition">
            <h2 class="text-lg sm:text-xl font-semibold text-[#00ff7f] mb-2 sm:mb-3">
              {audio.title}
            </h2>
            <p class="text-gray-300 text-xs sm:text-sm mb-3 sm:mb-4">{audio.description}</p>
            <iframe
              src={audio.embed}
              width="100%"
              height="152"
              frameborder="0"
              allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
              loading="lazy"
              class="rounded-lg"
            />
          </div>
        ))
      }
    </div>
  </section>

  <ButtonContact
    title= {t("audios.buttonContact.title")}
    subtitle= {t("audios.buttonContact.subtitle")}
    buttonText= {t("audios.buttonContact.buttonText")}
    buttonLink="/contacto"
  />
</Layout>
